[Unit]
Description=Satisfactory Linux Server Discord Bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 satisfactory_server_manager.py
WorkingDirectory=/path/to/dir/where/py/script/is
StandardOutput=syslog
StandardError=syslog
Restart=always
#You can modify systemctl to allow just a user
#to modify services and reboot the system, otherwise
#this has to be run as root
User=root
Group=root

[Install]
WantedBy=multi-user.target